<header>
  <nav>
    <ul class="navbar">
      <li><a routerLink="/"><img class="logo"src="assets/images/123.png" alt="Background"></a></li>
      <li><a href="/about">About</a></li>
      <li><a routerLink="/shop">Shop</a></li>
      <li><a href="#">Contact</a></li>
      <li><a href="/add-tub">Dodaj Balie</a></li>
      <li><a href="/reservations-to-accept">Rezerwacje</a></li>
      <!-- <li><img class="icon" src="cart.png" alt=""></li> -->
      <li><a id="Login" href="#">Zaloguj się</a></li>
    </ul>
  </nav>     
</header>
<router-outlet></router-outlet>