<br>
<br>
<br>
<br>
<br>

<div class="pending-reservations-container">
  <h2>Wszystkie Rezerwacje</h2>
  <ul class="reservation-list">
    <li *ngFor="let res of allReservations" class="reservation-item">
      <div class="reservation-info">
        <div class="reservation-detail">
          <strong class="description2">Balia: {{ res.tub.name }}</strong> 
        </div>
        <div class="reservation-detail">
          <strong class="description2">Użytkownik: <span class="description2-shop-sum"> {{ res.user.username }}</span></strong> 
        </div>
        <div class="reservation-detail">
          <strong class="description2">Data początkowa: <span class="description2-shop-sum">{{ res.start_date | date }}</span></strong> 
        </div>
        <div class="reservation-detail">
          <strong class="description2">Data końcowa: <span class="description2-shop-sum">{{ res.end_date | date }}</span> </strong> 
        </div>
        <div class="reservation-detail">
          <strong class="description2">Cena: <span class="description2-shop-sum">{{ res.counted_price }} zł</span></strong> 
        </div>
        <div class="reservation-detail">
          <strong class="description2">Status: <span class="description2-shop-sum">#</span></strong> 
        </div>
      </div>
    </li>
  </ul>
</div>