<br>
<br>
<br>
<br>

<p>Tutaj</p>
<form [formGroup]="tubForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="name">Name:</label>
      <input id="name" formControlName="name" type="text">
    </div>
    <div>
      <label for="description">Description:</label>
      <textarea id="description" formControlName="description"></textarea>
    </div>
    <div>
      <label for="price_per_day">Price per day:</label>
      <input id="price_per_day" formControlName="price_per_day" type="number">
    </div>
    <div>
      <label for="price_per_week">Price per week:</label>
      <input id="price_per_week" formControlName="price_per_week" type="number">
    </div>
    <div>
      <!-- <label for="logo_img">Logo Image:</label>
      <input id="logo_img" formControlName="logo_img" type="file" (change)="onFileChange($event)"> -->
    </div>
    <button type="submit">Add Tub</button>
</form>
